<div class="container">
    <div class="row">
        <input type="file" (change)="uploadFile($event)">
    </div>
    <div class="row">
        <div class="col-md-3 my-3" *ngFor="let img of imageSrc;">
            <div class="card card-display" style="width: 18rem;">
                <img class="card-img-top" [src]="img" alt="Card image cap">
              </div>
        </div>
    </div>
</div>